<article>
	<div class="page-header">
	  <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
	</div>

	<div class="col-sm-10">
	 <span class="post-date">
          {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" | plus:'0' }}
          {% case m %}
            {% when '1' %}Januar
            {% when '2' %}Februar
            {% when '3' %}M&auml;rz
            {% when '4' %}April
            {% when '5' %}Mai
            {% when '6' %}Juni
            {% when '7' %}Juli
            {% when '8' %}August
            {% when '9' %}September
            {% when '10' %}Oktober
            {% when '11' %}November
            {% when '12' %}Dezember
          {% endcase %}
          {{ page.date | date: "%Y" }}
	 </span>
	  <div class="article_body">
	  {{ content }}
	  </div>

		{% unless page.links == empty %}

		<hr>

        <ul class="project-links">
          {% for link_hash in page.links %}
            {% for link in link_hash %}
              <li><a class="button" href="{{ link[1] }}">{{ link[0] }}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
        
	    {% endunless %} 
		
		{% unless page.categories == empty %}
		<ul class="tag_box list-unstyled list-inline">
		  <li><i class="fa fa-folder-open"></i></li>
		  {% assign categories_list = page.categories %}
		  {% if categories_list.first[0] == null %}
			{% for category in categories_list %} 
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
					{{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
					{% unless forloop.last %},{% endunless %}
				</a></li>
			{% endfor %}
		  {% else %}
			{% for category in categories_list %} 
				<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
					{{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
				</a></li>
			{% endfor %}
		  {% endif %}
		</ul>
		{% endunless %}  

		{% unless page.tags == empty %}
		<ul class="list-inline">
		  <li><i class="fa fa-tags"></i></li>
		  {% assign tags_list = page.tags %}
		  {% if tags_list.first[0] == null %}
			{% for tag in tags_list %} 
				<li>
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
					{{ tag }} <span>({{ site.tags[tag].size }})</span>
					{% unless forloop.last %},{% endunless %}
					</a>
				</li>
			{% endfor %}
		  {% else %}
			{% for tag in tags_list %} 
				<li>
					<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
						{{ tag[0] }} <span>({{ tag[1].size }})</span>
						{% unless forloop.last %},{% endunless %}
					</a>
				</li>
		   	
			{% endfor %}
		  {% endif %}
		  {% assign tags_list = nil %}
		</ul>
		{% endunless %}  


		<hr>

		<ul class="pager">
		  {% if page.previous %}
		  <li class="previous"><a href="{{ site.BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; zurück</a></li>
		  {% else %}
		  <li class="previous disabled"><a>&larr; zurück</a></li>
		  {% endif %}
		  {% if page.next %}
		  <li class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">vor &rarr;</a></li>
		  {% else %}
			<li class="next disabled"><a>vor &rarr;</a>
		  {% endif %}
		</ul>

		<hr>
	</div>
	
	<div class="col-sm-2 sidebar-2">
	
	</div>
</article>
<div class="clearfix"></div>
